.envrc
.env
*.csv
*.DS_Store
rag-playground/ragas-airline-dataset/
arxiv-llm/
ragas-demo/
project.inlang.json
questions.json
# python
**/.ipynb_checkpoints
.python-version
*.pyc

# integrations
**/.chroma/index
**/wandb
**/*.pdf
**/arxiv-llm/textdata
